# Name = Umar Farooq Khan.
# Subject = AI(Lab).
# Section = BS-AI-3C.
# Roll = 139.

#  Lab Task =  9

In [131]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
# import numpy as np
# !pip install scikit-learn
# from sklearn.preprocessing import LabelEncoder

 <div class="alert alert-block alert-info">
    1. <b>Data Gathering</b> : <a href="https://www.kaggle.com/datasets/iammustafatz/diabetes-prediction-dataset?utm_source=chatgpt.com">Click Me</a>
    <br>
    2. <b>Data Loading</b>
</div>

In [88]:
df = pd.read_csv("diabetes.csv")
df

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,Female,80.0,0,1,never,25.19,6.6,140,0
1,Female,54.0,0,0,No Info,27.32,6.6,80,0
2,Male,28.0,0,0,never,27.32,5.7,158,0
3,Female,36.0,0,0,current,23.45,5.0,155,0
4,Male,76.0,1,1,current,20.14,4.8,155,0
...,...,...,...,...,...,...,...,...,...
99995,Female,80.0,0,0,No Info,27.32,6.2,90,0
99996,Female,2.0,0,0,No Info,17.37,6.5,100,0
99997,Male,66.0,0,0,former,27.83,5.7,155,0
99998,Female,24.0,0,0,never,35.42,4.0,100,0
99999,Female,57.0,0,0,current,22.43,6.6,90,0

<div class="alert alert-block alert-info">
    3. <b>Data Exploration</b>
</div>

In [91]:
df.head(5)

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,Female,80.0,0,1,never,25.19,6.6,140,0
1,Female,54.0,0,0,No Info,27.32,6.6,80,0
2,Male,28.0,0,0,never,27.32,5.7,158,0
3,Female,36.0,0,0,current,23.45,5.0,155,0
4,Male,76.0,1,1,current,20.14,4.8,155,0

In [92]:
df.tail(5)

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
99995,Female,80.0,0,0,No Info,27.32,6.2,90,0
99996,Female,2.0,0,0,No Info,17.37,6.5,100,0
99997,Male,66.0,0,0,former,27.83,5.7,155,0
99998,Female,24.0,0,0,never,35.42,4.0,100,0
99999,Female,57.0,0,0,current,22.43,6.6,90,0

In [93]:
df.columns

Index(['gender', 'age', 'hypertension', 'heart_disease', 'smoking_history',
       'bmi', 'HbA1c_level', 'blood_glucose_level', 'diabetes'],
      dtype='object')

In [94]:
df.count()

gender                 100000
age                    100000
hypertension           100000
heart_disease          100000
smoking_history        100000
bmi                    100000
HbA1c_level            100000
blood_glucose_level    100000
diabetes               100000
dtype: int64

In [95]:
df.describe()

,age,hypertension,heart_disease,bmi,HbA1c_level,blood_glucose_level,diabetes
count,100000.000000,100000.00000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000
mean,41.885856,0.07485,0.039420,27.320767,5.527507,138.058060,0.085000
std,22.516840,0.26315,0.194593,6.636783,1.070672,40.708136,0.278883
min,0.080000,0.00000,0.000000,10.010000,3.500000,80.000000,0.000000
25%,24.000000,0.00000,0.000000,23.630000,4.800000,100.000000,0.000000
50%,43.000000,0.00000,0.000000,27.320000,5.800000,140.000000,0.000000
75%,60.000000,0.00000,0.000000,29.580000,6.200000,159.000000,0.000000
max,80.000000,1.00000,1.000000,95.690000,9.000000,300.000000,1.000000

In [96]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 9 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   gender               100000 non-null  object
 1   age                  100000 non-null  float64
 2   hypertension         100000 non-null  int64
 3   heart_disease        100000 non-null  int64
 4   smoking_history      100000 non-null  object
 5   bmi                  100000 non-null  float64
 6   HbA1c_level          100000 non-null  float64
 7   blood_glucose_level  100000 non-null  int64
 8   diabetes             100000 non-null  int64
dtypes: float64(3), int64(4), object(2)
memory usage: 6.9+ MB

In [97]:
df.shape
print(f"Number of Rows: {df.shape[0]} and Number of Columns: {df.shape[1]}")

Number of Rows: 100000 and Number of Columns: 9

In [105]:
df['gender'].unique()

array(['Female', 'Male', 'Other'], dtype=object)

In [103]:
df.nunique()

gender                    3
age                     102
hypertension              2
heart_disease             2
smoking_history           6
bmi                    4247
HbA1c_level              18
blood_glucose_level      18
diabetes                  2
dtype: int64

In [106]:
df.isnull().sum()

gender                 0
age                    0
hypertension           0
heart_disease          0
smoking_history        0
bmi                    0
HbA1c_level            0
blood_glucose_level    0
diabetes               0
dtype: int64

# Lab Task = 10

<div class="alert alert-block alert-info">
    4. <b>Data Pre-Processing</b>
</div>

<div class="alert alert-block alert-warning">
    4.1. <b>Manage Null Values</b>
</div>

In [110]:
import pandas as pd

# Load dataset
df = pd.read_csv(r"C:\Users\HAROON-CHISHTI\Desktop\Project\diabetes.csv")

# Check for missing values
print("Missing values per column:\n", df.isnull().sum())

# Check total missing values in dataset
print("\nTotal missing values in dataset:", df.isnull().sum().sum())

Missing values per column:
 gender                 0
age                    0
hypertension           0
heart_disease          0
smoking_history        0
bmi                    0
HbA1c_level            0
blood_glucose_level    0
diabetes               0
dtype: int64

Total missing values in dataset: 0

In [111]:
df_cleaned = df.dropna()  # drops rows with any null value
print("Shape after dropping rows with null values:", df_cleaned.shape)

Shape after dropping rows with null values: (100000, 9)

In [114]:
numeric_cols = df.select_dtypes(include=['float64', 'int64']).columns
df[numeric_cols] = df[numeric_cols].fillna(df[numeric_cols].mean())

In [116]:
print("\nMissing values after handling:\n", df.isnull().sum())

Missing values after handling:
 gender                 0
age                    0
hypertension           0
heart_disease          0
smoking_history        0
bmi                    0
HbA1c_level            0
blood_glucose_level    0
diabetes               0
dtype: int64

<div class="alert alert-block alert-warning">
    4.2. <b>Manage Data Types</b>
</div>

In [118]:
# Check data types of all columns
print(df.dtypes)

gender                  object
age                    float64
hypertension             int64
heart_disease            int64
smoking_history         object
bmi                    float64
HbA1c_level            float64
blood_glucose_level      int64
diabetes                 int64
dtype: object

In [119]:
categorical_cols = ['gender', 'smoking_history']

for col in categorical_cols:
    df[col] = df[col].astype('category')

# Check again
print(df.dtypes)

gender                 category
age                     float64
hypertension              int64
heart_disease             int64
smoking_history        category
bmi                     float64
HbA1c_level             float64
blood_glucose_level       int64
diabetes                  int64
dtype: object

In [121]:
df['diabetes'] = df['diabetes'].astype('int')  # or 'category' if needed

In [123]:
df['age'] = pd.to_numeric(df['age'], errors='coerce')  # converts to numeric, NaN if error

In [124]:
print("\nData types after managing:")
print(df.dtypes)

Data types after managing:
gender                 category
age                     float64
hypertension              int64
heart_disease             int64
smoking_history        category
bmi                     float64
HbA1c_level             float64
blood_glucose_level       int64
diabetes                  int64
dtype: object

In [125]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 9 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   gender               100000 non-null  category
 1   age                  100000 non-null  float64
 2   hypertension         100000 non-null  int64
 3   heart_disease        100000 non-null  int64
 4   smoking_history      100000 non-null  category
 5   bmi                  100000 non-null  float64
 6   HbA1c_level          100000 non-null  float64
 7   blood_glucose_level  100000 non-null  int64
 8   diabetes             100000 non-null  int64
dtypes: category(2), float64(3), int64(4)
memory usage: 5.5 MB
None

# Lab Task =  11

<div class="alert alert-block alert-info">
    5. <b>Train - Test Splitting</b>
</div>

In [132]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

# Load dataset
df = pd.read_csv(r"C:\Users\HAROON-CHISHTI\Desktop\Project\diabetes.csv")

# Separate features and target
X = df.drop('diabetes', axis=1)
y = df['diabetes']

# Convert categorical variables to numeric
X = pd.get_dummies(X, drop_first=True)

# Train-test split
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

# Optional: Scale numeric features
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

# Check shapes
print("X_train shape:", X_train.shape)
print("X_test shape:", X_test.shape)
print("y_train shape:", y_train.shape)
print("y_test shape:", y_test.shape)

X_train shape: (80000, 13)
X_test shape: (20000, 13)
y_train shape: (80000,)
y_test shape: (20000,)

<div class="alert alert-block alert-info">
    6. <b>Applying Classifier / Model Training</b>
</div>

In [137]:
# Import the model
from sklearn.linear_model import LogisticRegression

# Create model
log_model = LogisticRegression()

# Train the model on training data
log_model.fit(X_train, y_train)

# Print confirmation
print("Model trained successfully!")

Model trained successfully!

In [138]:
# Make predictions on the test set
y_pred = log_model.predict(X_test)

# Print first 10 predictions
print("First 10 predictions:", y_pred[:10])

First 10 predictions: [0 0 0 0 0 1 0 0 0 0]

In [139]:
# Import metrics
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

# Accuracy
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy Score:", accuracy)

# Confusion Matrix
cm = confusion_matrix(y_test, y_pred)
print("\nConfusion Matrix:\n", cm)

# Classification Report
report = classification_report(y_test, y_pred)
print("\nClassification Report:\n", report)

Accuracy Score: 0.95905

Confusion Matrix:
 [[18127   165]
 [  654  1054]]

Classification Report:
               precision    recall  f1-score   support

           0       0.97      0.99      0.98     18292
           1       0.86      0.62      0.72      1708

    accuracy                           0.96     20000
   macro avg       0.91      0.80      0.85     20000
weighted avg       0.96      0.96      0.96     20000

In [ ]:
import pickle

# Save the model to a pickle file
model_filename = r"C:\Users\HAROON-CHISHTI\Desktop\Project\diabetes_model.pkl"
with open(model_filename, 'wb') as file:
    pickle.dump(log_model, file)

print(f"Model saved successfully to {model_filename}")

# Also save the scaler for later use
scaler_filename = r"C:\Users\HAROON-CHISHTI\Desktop\Project\scaler.pkl"
with open(scaler_filename, 'wb') as file:
    pickle.dump(scaler, file)

print(f"Scaler saved successfully to {scaler_filename}")